body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 3%;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}